/Users/shubhamgore/Development/QuipQuid/backend/app/__pycache__
/Users/shubhamgore/Development/QuipQuid/backend/app/core/__pycache__
/Users/shubhamgore/Development/QuipQuid/backend/app/db/__pycache__
/Users/shubhamgore/Development/QuipQuid/backend/app/tests/__pycache__